extends ../../layout
block content
    include ../../navigation
    h1 Trainee MyPage
    br
    .container-fluid.text-center
        .row
            .col-md-4
                img(alt="Trainee image" src="/images/trainee.png" width="300" height="300")
            .col-md-8
                .row(style="min-height:300px;")
                    .col-md-4
                        .card
                            h5.card-header Name
                            .card-body
                                p #{user.username}
                    .col-md-4
                        .card
                            h5.card-header E-Mail
                            .card-body
                                p.card-text #{user.email}
                    .col-md-4
                        .card
                            h5.card-header Phone Number
                            .card-body
                                p.card-text 010-2222-2222
        br
        .row
            .col-md-12
                .card
                    h5.card-header
                        | My Trainer
                    .card-body
                        .row(style="min-width:700px;")
                            .col-md-3
                                a(href=`/detail/trainer/${trainer.trainer.dataValues.id}`) #{trainername}
                            .col-md-3 010-1111-1111
                            .col-md-3 #{trainer.dataValues.pt_remain} times
                            .col-md-3 #{trainer.dataValues.pt_cost} $
        br
        .row.text-center
        - if(bodyprofile)
            .row
                .col-md-4
                    .card
                        h5.card-header Age
                        .card-body
                            p #{bodyprofile.dataValues.age}
                .col-md-4
                    .card
                        h5.card-header Height
                        .card-body
                            p #{bodyprofile.dataValues.height} m
                .col-md-4
                    .card
                        h5.card-header Weight
                        .card-body
                            p #{bodyprofile.dataValues.weight} Kg
            .row
                .col-md-6
                    .card
                        h5.card-header BMI
                        .card-body
                            p #{bodyprofile.dataValues.bmi}
                .col-md-6
                    .card
                        h5.card-header BMR
                        .card-body
                            p #{bodyprofile.dataValues.bmr}
            .row
                .col-md-12
                    .card
                        h5.card-header Trainer's Note
                        .card-body
                            p #{bodyprofile.dataValues.note}
        br
        .row.text-center
            .col-md-12
                .card
                    h5.card-header
                        | Timetable
                    .card-body
                        table.text-center(style="margin:auto;")
                            thead
                            tbody.TimeSheet
                                tr
                                    td.TimeSheet-head Date / Time
                                    td.TimeSheet-colHead 09
                                    td.TimeSheet-colHead 10
                                    td.TimeSheet-colHead 11
                                    td.TimeSheet-colHead 12
                                    td.TimeSheet-colHead 13
                                    td.TimeSheet-colHead 14
                                    td.TimeSheet-colHead 15
                                    td.TimeSheet-colHead 16
                                    td.TimeSheet-colHead 17
                                    td.TimeSheet-colHead 18
                                    td.TimeSheet-colHead 19
                                    td.TimeSheet-colHead 20
                                    td.TimeSheet-colHead 21
                                tr
                                    td.TimeSheet-rowHead Monday
                                    - for(let i=0; i<13; i++)
                                        td.TimeSheet-cell(data-date="0", data-time=`${i}`)
                                    
                                tr
                                    td.TimeSheet-rowHead Tuesday
                                    - for(let i=0; i<13; i++)
                                        td.TimeSheet-cell(data-date="1", data-time=`${i}`)
                                tr
                                    td.TimeSheet-rowHead Wednesday
                                    - for(let i=0; i<13; i++)
                                        td.TimeSheet-cell(data-date="2", data-time=`${i}`)
                                tr
                                    td.TimeSheet-rowHead Thursday
                                    - for(let i=0; i<13; i++)
                                        td.TimeSheet-cell(data-date="3", data-time=`${i}`)
                                tr
                                    td.TimeSheet-rowHead Friday
                                    - for(let i=0; i<13; i++)
                                        td.TimeSheet-cell(data-date="4", data-time=`${i}`)
                                tr
                                    td.TimeSheet-rowHead Saturday
                                    - for(let i=0; i<13; i++)
                                        td.TimeSheet-cell(data-date="5", data-time=`${i}`)
                                tr
                                    td.TimeSheet-rowHead Sunday
                                    - for(let i=0; i<13; i++)
                                        td.TimeSheet-cell(data-date="6", data-time=`${i}`)
        br
        a.btn.btn-primary(id="scsubmit") Change


    script.


        $(document).ready(function(){
            console.log(schedule)
            $("td").each(function(index,item){
            if(schedule){
                for slot in schedule{
                    const slotData=slot.dataValues;
                    if(slotData.date==$(item).data("date") && slotData.time==$(item).data("time")){
                        if(slotData.user_id!=user.id){
                            $(item).data("user-id",slotData.user_id);
                            $(item).addClass("TimeSheet-cell-block");
                        }
                        if(slotData.user_id==user.id){
                            $(item).data("user-id",slotData.user_id);
                            $(item).addClass("TimeSheet-cell-selected");
                        }
                    }
                }
            }
        });
        });
        
        $(document).on('click','td',function(){
            alert("click");
            if(!($(this).hasClass("TimeSheet-cell-block"))){
                if($(this).hasClass("TimeSheet-cell-selected")) {
                    $(this).removeClass("TimeSheet-cell-selected");
                } else {
                    $(this).addClass("TimeSheet-cell-selected");
                }
            }
        });
        //- $(".TimeSheet-cell").click(function(ev){
        //-     if(!($(this).hasClass("TimeSheet-cell-block"))){
        //-         if($(this).hasClass("TimeSheet-cell-selected")) {
        //-             $(this).removeClass("TimeSheet-cell-selected");
        //-         } else {
        //-             $(this).addClass("TimeSheet-cell-selected");
        //-         }
        //-     }
        //- });
        //- $("#scsubmit").click(function(ev){
        //-     let schedule=[];
        //-     $(".TimeSheet-cell-selected").each(function(index,item){
        //-         let slot=[$(item).data("date"), $(item).data("time")];
        //-         schedule.push(slot);
        //-     });
        //-     $.ajax({
        //-         url:`/schedule/ajax/${trainer.trainer.dataValues.id}/${user.id}`,
        //-         dataType: 'json',
        //-         type: 'POST',
        //-         data: schedule
        //-     });
        //- });                    
