extends ../layout
block content
    include ../navigation
    br
    h1.text-center Contract
    br
    form(action=`/employ/${trainer_id}/contract/${user.id}`, method='post')
        .container-fluid
            .row.text-center
                .col-lg-12
                    .col-lg-4(style='float : left; width : 33%')
                        .card
                            .card-body
                            h3.card-price.text-center A Set
                            hr
                            h5.card-text 10 times
                            br
                            h4.card-text #{cs.dataValues.cost10} $
                        hr
                        input.text-center(type='radio', name='checkContract', value='1')
                    .col-lg-4(style='float : left; width : 33%')
                        .card
                            .card-body
                            h3.card-price.text-center B Set
                            hr
                            h5.card-text 20 times
                            br
                            h4.card-text #{cs.dataValues.cost20} $
                        hr
                        input.text-center(type='radio', name='checkContract', value='2')
                    .col-lg-4(style='float : left; width : 33%')
                        .card.mb-5.mb-lg-0
                            .card-body
                            h3.card-price.text-center C Set
                            hr
                            h5.card-text 30 times
                            br
                            h4.card-text #{cs.dataValues.cost30} $
                        hr
                        input.text-center(type='radio', name='checkContract', value='3')
            br
            br
            div(align='center')
                button.btn.btn-primary(type='submit') Payment
