extends ../layout
block content
    include ../navigation
    h1.text-center Contract
    br
    br
    form(action=`/employ/${trainer_id}/contract/${user.id}`, method='post')
        .container-fluid
            .row.text-center
                .col-lg-12
                    .col-lg-4(style='float : left; width : 33%')
                        .card
                            .card-body
                            h6.card-price.text-center PT 10 times
                            hr
                            ul.fa-ul
                                li
                                span 10 
                                span times
                                li 
                                span=cs.dataValues.cost10
                                span $
                        hr
                        input.text-center(type='radio', name='checkContract', value='1')
                    .col-lg-4(style='float : left; width : 33%')
                        .card
                            .card-body
                            h6.card-price.text-center PT 20 times
                            hr
                            ul.fa-ul
                                li
                                span 20
                                span times
                                li
                                span=cs.dataValues.cost10
                                span $
                        hr
                        input.text-center(type='radio', name='checkContract', value='2')
                    .col-lg-4(style='float : left; width : 33%')
                        .card.mb-5.mb-lg-0
                            .card-body
                            h6.card-price.text-center PT 30 times 
                            hr
                            ul.fa-ul
                                li
                                span 30
                                span times
                                li
                                span=cs.dataValues.cost10
                                span $
                        hr
                        input.text-center(type='radio', name='checkContract', value='3')
            br
            br
            div(align='center')
                button.btn.btn-primary(type='submit') Payment
