//- employ -> 트레이너들 소개 및 고용 하는 페이지의 index. TrainerList 출력.

extends ../layout
block content
    include ../navigation
    .container-fluid
        .row
            .col-md-12
                table.table.table-bordered
                    thead
                        tr
                            th #
                            th E-mail
                            th Name
                            th TrainerInfo
                    tbody
                        each row in rows.rows    
                            //- rows is trainers list
                            - const rowData=row.dataValues;
                            tr
                                td=rowData.id
                                td=rowData.user.dataValues.email
                                td
                                    a(href=`/employ/${rowData.id}`)=rowData.user.dataValues.username
                                //- div=rowData.TrainerInfo;  추후 trainer information 확정되면 추가할 것.